body{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2% 0% 2% 2%;
    line-height: 169%;
}
.top_bg_img{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 600px;
}
.half-width h2 span{
    color: orange;
}
.half-width h2{
    font-size: 35px;
}
.half-width h3{
    font-size: 25px;
}
.half-width p{
    font-size: 17px;
    margin-top: -15px;
    color: #696969;
    width: 40%px;
}
.half-width img{
    width: 450px;
    padding: 4% 0% 0% 17%;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 20px;
    color: #ffffff;
    background-image: linear-gradient( lightsalmon tomato);
    border-radius: 5px;
}
.fb_link_button{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #FF3F8B;
    color: #ffffff;
    border-radius: 5px;
}
.dream_big_section{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.second_half-width{
    width: 37%%;
    float: left;
    margin-left: 7%;
}
.second_half-width h2{
    font-size: 35px;
}
.second_half-width h3{
    font-size: 25px;
}
.second_half-width p{
    font-size: 17px;
}
#second_img{
    width: 450px;
    padding-left: 4% 0% 0% -17%;;
}