body{
    font-family: 'Roboto', sans-serif;
}
h2{
    font-size: 41px;
    line-height: 150%;
}
.name_heilight{
    color: orange;
}
.header_section p{
    width: 50%;
    font-size: 17px;
    color: #696969;
}